#blog {
  background: #f7f7f7;

  #blog-tile-container {
    width: 90%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: auto;

    .blog-element-wrapper {
      text-decoration: none;
      color: #444649;

      .blog-element-container {
        width: 350px;
        height: 300px;
        margin: 1em;
        border: solid 2px #444649;
        border-radius: 10px;
        box-shadow: 25px 25px 13px -20px rgba(0,0,0,0.95);
        -webkit-transition: width .5s ease, height .5s ease, box-shadow .25s;

        .blog-element-container:hover {
          box-shadow: 25px 25px 13px -20px rgba(0,0,0,0.95);
          -webkit-transition: box-shadow .25s;
        }

        .blog-image {
          width: 300px;
          height: 200px;
          margin-top: .5em;

          box-shadow: inset 6px 6px 6px 2px #444649,
          inset -6px -6px 6px 2px #444649,
          0 4px 6px 0 rgba(26, 26, 26, 0.45),
          0 -4px 6px 0 rgba(26, 26, 26, 0.25);
        }

        .blog-title {
          font-size: 1.25em;
          width: 300px;
          margin: 1em auto;
        }
      }
    }
  }
}
