#projects {
    background: white;
}
#blue-skewy {
    background: #54c0de;
    height: 79%;
    left: 0;
    position: absolute;
    transform: skewY(-6.5deg);
    width: 100%;
}
#gallery {
    transform: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    max-width: 1200px;
    margin: 1em auto;
}
.project-tile {
    width: calc(50vw - 8px);
    height: calc(50vw - 8px);
    margin: 4px;
}
.project-hover{
    display: none;
}
.project-tile:hover .project-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.project-hover {
    width: calc(50vw - 8px);
    height: calc(50vw - 8px);
    position: absolute;
    text-align: center;
    font-family: Raleway, sans-serif;
    background-color: white;
    z-index: 1;
    opacity: .9;
}
.project-title {
    width: 100%;
    font-size: 1em;
}
.project-technologies {
    font-size: .8em;
}
.project-description {
    width: 100%;
    text-align: center;
    font-size: .75em;
}
#project-button {
    text-decoration: none;
    width: 70%;
    font-size: 1em;
    font-family: Raleway, sans-serif;
    position: relative;
    background: #474747;
    border-radius: 5px;
}

@media (min-width: 767px) and (max-width: 1023px) {
    .project-tile {
        width: calc(50vw - 25px);
        height: calc(50vw - 25px);
    }
    #blue-skewy {
        height: 84%;
    }
    #projects {
        padding-bottom: 8em;
    }
    .project-hover {
        width: calc(50vw - 25px);
        height: calc(50vw - 25px);
    }
    .project-title {
        width: 100%;
        font-size: 2em;
    }
    .project-technologies {
        font-size: 1.5em;
    }
    .project-description {
        width: 100%;
        text-align: center;
        font-size: 1em;
    }
    #project-button {
        text-decoration: none;
        width: 60%;
        font-size: 1.5em;
    }
    #gallery {
        width: 97%;
    }
}

@media (min-width: 1024px) {
    #projects .header {
        padding-top: .7em;
    }
    #projects .header-bar {
        padding-bottom: 7em;
    }
    .project-tile {
        width: 20vw;
        height: 20vw;
        margin: 1em;
    }
    .project-tile:hover .project-hover {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .project-hover {
        width: 20vw;
        height: 20vw;
        position: absolute;
        text-align: center;
        font-family: Raleway, sans-serif;
        background-color: white;
        z-index: 1;
        opacity: .9;
    }
    .project-title {
        font-size: 2em;
    }
    .project-technologies {
        font-size: 1.5em;
    }
    .project-description {
        width: 100%;
        text-align: center;
        font-size: 1em;
    }
    #project-button {
        width: 50%;
        font-size: 1.5em;
        text-decoration: none;
        font-family: Raleway, sans-serif;
        position: relative;
        background: #474747;
        border-radius: 5px;
    }
    #blue-skewy {
        height: 77%;
    }
    #projects {
        padding-bottom: 9em;
    }
    #gallery {
        padding-top: 3em;
        max-width: 80vw;
    }
}